/* Estilos para a raiz da aplicação */
#root {
  max-width: 1280px; /* Define a largura máxima da raiz da aplicação */
  margin: 0 auto; /* Centraliza a raiz horizontalmente na página */
  padding: 2rem; /* Adiciona espaço interno de 2rem em todos os lados da raiz */
  text-align: center; /* Centraliza o texto e o conteúdo dentro da raiz */
}

/* Estilos para a classe 'logo' */
.logo {
  height: 6em; /* Define a altura da classe 'logo' como 6em */
  padding: 1.5em; /* Adiciona espaço interno de 1.5em em todos os lados da classe 'logo' */
  will-change: filter; /* Indica que a propriedade 'filter' será animada */
  transition: filter 300ms; /* Adiciona uma transição suave de 300ms à propriedade 'filter' */
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa); /
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa); 
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg); 
  }
  to {
    transform: rotate(360deg); 
  }
}

.card {
  padding: 2em; 
}

.read-the-docs {
  color: #fcf9f9; /* Define a cor do texto da classe 'read-the-docs' como preta (#000000) */
}

/* Estilos para o elemento 'nav' */
nav {
  display: flex; /* Define 'nav' como um flex container */
  width: 100vw; /* Define a largura como 100% da largura da janela */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  height: 8vh; /* Define a altura da 'nav' como 8% da altura da janela */
  background-color: rgb(220, 65, 225); /* Define a cor de fundo da 'nav' */
}

/* Estilos para links dentro de 'nav' */
nav a {
  color: rgb(255, 255, 255); /* Define a cor do texto dos links  */
  font-size: 1.5em; /* Define o tamanho da fonte como 1.5em (em relação ao tamanho padrão) */
  padding: 15px; /* Adiciona espaço interno de 15px em todos os lados dos links */
}

/* Estilos para o elemento 'main' */
main {
  display: flex; /* Define 'main' como um flex container */
  width: 100vw; /* Define a largura como 100% da largura da janela */
  flex-direction: column; /* Define a direção dos filhos como coluna */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  height: 70vh; /* Define a altura da 'main' como 70% da altura da janela */
}

/* Estilos para o elemento 'footer' */
footer {
  color: white;
  display: flex; /* Define 'footer' como um flex container */
  width: 100vw; /* Define a largura como 100% da largura da janela */
  justify-content: center; /* Centraliza os itens horizontalmente */
  align-items: center; /* Centraliza os itens verticalmente */
  height: 10vh; /* Define a altura do 'footer' como 10% da altura da janela */
  background-color: rgb(189, 39, 181); /* Define a cor de fundo do 'footer' */
}

button {
  background-color: #ff69b4; /* Define a cor de fundo como rosa */
  color: #fff; /* Define a cor do texto como branco */
  padding: 10px 20px; /* Adiciona espaço interno de 10px na parte superior e inferior e 20px nos lados */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Adiciona cantos arredondados */
  cursor: pointer; /* Define o cursor como uma mãozinha ao pairar sobre o botão */
  font-size: 1em; /* Define o tamanho da fonte como 1em (em relação ao tamanho padrão) */
  transition: background-color 0.3s; /* Adiciona uma transição suave para a mudança de cor de fundo */
}

/* No seu arquivo de estilos CSS ou componente de estilos */
h1 {
  font-size: 2em; /* Define o tamanho da fonte como 2 vezes o tamanho padrão */
  color: #ff69b4; /* Define a cor do texto como rosa */
  text-align: center; /* Centraliza o texto horizontalmente */
  margin-top: 20px; /* Adiciona um espaço superior de 20px */
}
