#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 2.0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #ffffff;
}

nav{
  display : flex ; width: 100vw;
  justify-content: center; align-items: center;
  height: 8vh; background-color: rgb(225, 65, 220);

  & a{color:rgb(7, 7, 7); font-size: 1.8em; padding: 40px;}
}

main{ display: flex; width: 100vw;
  flex-direction: column; justify-content: center;
  align-items: center; height: 70vh;
}

footer{
  display: flex; width: 100vw; justify-content: center;
  align-items: center; height: 7vh;
  background-color: rgb(238, 19, 227);
  text-align: center;
  background-color: rgb(238, 19, 227);
  color: #fff;
  padding: 10px;
  position: sticky;
}

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center; /* Centraliza o conteúdo verticalmente */
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

header {
  color: #000000;
  padding: 20px; /* Reduzimos o padding para centralizar o h1 */
  text-align: center;
}

header h1 {
  margin: 0; /* Removemos as margens padrão do h1 para centralizá-lo */
}


.content {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center; /* Centraliza o conteúdo verticalmente */
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 300px; /* Espaçamento entre as imagens */
}

.image-container img {
  max-width: 100%; /* Garante que as imagens não ultrapassem o contêiner */
  height: auto; /* Mantém a proporção da imagem */
  border: 2px solid #ddd; /* Adiciona uma borda às imagens */
  padding: 40px; /* Espaçamento interno em torno das imagens */
}
